<div class="flex flex-col justify-center items-center mt-72">
    <div class="card w-96 bg-neutral text-neutral-content">
        <div class="card-body items-center text-center">
          <h2 class="card-title mb-5">Login</h2>
          <form [formGroup]="loginForm">
            <input [formControl]="loginForm.controls.userName" type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-xs mb-3" />
            <input [formControl]="loginForm.controls.password" type="password" placeholder="Password" class="input input-bordered w-full max-w-xs mb-3" />
            <div class="flex flex-row float-right">
              <button class="btn btn-active btn-link">Don't have an account?<br> Register instead</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
    </div>
</div>